<!DOCTYPE html>
<html lang="en">
<head>
    <title>HOME ZONE TESTING</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link href="../static/test2.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2>Large Modal</h2>
    <!-- Button to Open the Modal -->
    <button class="btn btn-info btn-sm" data-target="#addAssign" data-toggle="modal" id="userButton" type="button">
        Add Assignment
    </button>

    <!--Modal Box for adding new assignments-->
    <!-- The Modal -->
    <div class="modal fade" id="addAssign">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Create New Assignment</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>

                <!-- Modal body -->
                <div>

                    <!--LONGBLOB FILE UPLOAD-->
                    <div class="container">
                        <h6>File Input</h6>
                        <form action="/addSub" enctype="multipart/form-data" method="POST">
                            <div class="form-group">
                                <label>File Upload</label>
                                <input name="inputfile" type='file'>
                            </div>
                            <div>
                                <!--Assignment title-->
                                <label class="sr-only" for="assTitle">assTitle</label>
                                <input class="form-control" id="assTitle" name="assTitle" placeholder="Assignment Title"
                                       type="assTitle">
                                <!--Date-->
                                <label class="sr-only" for="date">date</label>
                                <input class="form-control" id="date" name="date" placeholder="Submission Date"
                                       type="date">
                                <!--task details-->
                                <div class="modal-header">
                                     <h6 class="modal-title">Task Details</h6>
                                </div>
                                <label class="sr-only" for="taskDetails">taskDetails</label>
                                <textarea autofocus  class="form-control" id="taskDetails" name="taskDetails" placeholder="taskDetails" required rows ="10" type="taskDetails">
                                </textarea>
                               <!--User ID-->
                                <label class="sr-only" for="classID">classID</label>
                                <input class="form-control" id="classID" name="classID" placeholder="classID"
                                       type="classID">
                            </div>
                            <button class="btn btn-default" type="btnAddSub">Submit</button>

                        </form>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-info btn-primary btn-sm" id="btnAddAssign" type="addSub">Save Submission
                    </button>
                    <!--Commit Data-->
                    <button class="btn btn-info btn-sm" data-dismiss="modal" type="addSub">Close</button>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <!--Modal Box for class management-->
    <!--Adding Students to classes-->
    <!-- Button to Open the Modal -->
    <button class="btn btn-info btn-sm" data-target="#ClassManageAdd" data-toggle="modal" id="userButton" type="button">
        Class Management
    </button>
     <!--Modal Box for class management-->
    <!-- The Modal -->
    <div class="modal fade" id="ClassManageAdd">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Class Member Management</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>

                <!-- Modal body -->
                <div>
                    <!--LONGBLOB FILE UPLOAD-->
                    <div class="container">
                        <h6>Add Students to Classes</h6>
                        <h6>Enter Class ID and Student ID</h6>
                        <form action="/classManagement" enctype="multipart/form-data" method="POST">
                               <!--User ID-->
                                <label class="sr-only" for="userID">Student ID</label>
                                <input class="form-control" id="userID" name="userID" placeholder="Student ID"
                                       type="userID">
                               <!--Class ID-->
                                <label class="sr-only" for="classID">classID</label>
                                <input class="form-control" id="classID" name="classID" placeholder="classID"
                                       type="classID">

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info btn-sm" type="ClassManageAdd">Submit</button>
                        <!--Commit Data-->
                        <button class="btn btn-info btn-sm" data-dismiss="modal" type="ClassManageAdd">Close</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






 <!--Modal Box for class management-->
    <!--Removing Students from classes-->
    <!-- Button to Open the Modal -->
    <button class="btn btn-info btn-sm" data-target="#classManageRemove" data-toggle="modal" id="userButton" type="button">
        Remove Class Members
    </button>
     <!--Modal Box for class management-->
    <!-- The Modal -->
    <div class="modal fade" id="classManageRemove">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Class Member Management</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>

                <!-- Modal body -->
                <div>
                    <!--LONGBLOB FILE UPLOAD-->
                    <div class="container">
                        <h6>Remove Students from Classes</h6>
                        <h6>Enter Class ID and Student ID</h6>
                        <form action="/classManageRemove" enctype="multipart/form-data" method="POST">
                               <!--User ID-->
                                <label class="sr-only" for="userID">Student ID</label>
                                <input class="form-control" id="userID" name="userID" placeholder="Student ID"
                                       type="userID">
                               <!--Class ID-->
                                <label class="sr-only" for="classID">classID</label>
                                <input class="form-control" id="classID" name="classID" placeholder="classID"
                                       type="classID">
                            <!--Commit Data-->
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info btn-primary btn-sm" id="btnClassManageRemove" type="classManageRemove">Save Change
                        </button>
                        <button class="btn btn-info btn-sm" data-dismiss="modal" type="classManageRemove">Close</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
