<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guardian Portal</title>
    <link href="../static/images/icon.png" rel="shortcut icon" type="image/png">
    <!--Code Begins Here!-->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!Css File>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <link href="../static/test2.css" rel="stylesheet">
    <!--Modal Stuff-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

</head>
<body>

<div class="grid-container">
    <!--Alerts Title Section with useful info-->
    <div class="Alerts" align="center">
        <div align="left" id="alerthead">{{ _student1Name }} has <strong>{{ _stu1Outstand }}</strong> assignments left to complete
        </div>
        <br>
        <div align="left" id="alerthead">{{ _student2Name }} has <strong>{{ _stu2Outstand }}</strong> assignments left to complete
        </div>
        <br>
    </div>
    <!--Alerts Content with useful info-->
    <div class="AlertsText">
        <h4>Important Information - Next Assignment</h4>
        <div align="center">Students must submit their {{ _nextUpClass }} assignment by {{ _nextUpDate }}!</div>
        <div align="center">
            <br>
            <button class="btn btn-info btn-sm" data-target="#markAss1" data-toggle="modal" id="userButton"
                    type="button">View Current Submissions
            </button>
            <button class="btn btn-info btn-sm" data-target="#classManager" data-toggle="modal" id="userButton"
                    type="button">View Current Submissions
            </button>
        </div>
    </div>

    <!--Graphs Title Section with useful info-->
    <div class="Graph">
        <div align=left"><h5>Overall Average Grades</h5></div>

        <!--DETAILS NEEDED FOR GRAPHS HERE-->
        <div hidden=hidden>
            <p id="_student1Name">{{ _student1Name }}</p>
            <p id="_student2Name">{{ _student2Name }}</p>
            <p id="_stu1Class1">{{ _stu1Class1 }}</p>
            <p id="_stu1Class2">{{ _stu1Class2 }}</p>
            <p id="_stu1Class3">{{ _stu1Class3 }}</p>
            <p id="_stu1class1Mark">{{ _stu1class1Mark }}</p>
            <p id="_stu1class2Mark">{{ _stu1class2Mark }}</p>
            <p id="_stu1class3Mark">{{ _stu1class3Mark }}</p>
            <p id="_stu2class1Mark">{{ _stu2class1Mark }}</p>
            <p id="_stu2class2Mark">{{ _stu2class2Mark }}</p>
            <p id="_stu2class3Mark">{{ _stu2class3Mark }}</p>
        </div>
        <!-- ## MAKING A GRAPH ## -->
        <div class="container">
            <canvas id="bar-chart-grouped" width="100" height="50"></canvas>
        </div>
    </div>
    <!--Graphs Content Section with useful info-->
    <div class="Title1">
        <h5>Classes Students are Enrolled Into and Average Marks</h5>

        <table>
            <tr>
                <th>Name</th>
                <th>Class Name</th>
                <th>Average Mark</th>
                <th>Name</th>
                <th>Class Name</th>
                <th>Average Mark</th>
            </tr>
            <tr>
                <td>{{ _student1Name }}</td>
                <td>{{ _stu1Class1 }}</td>
                <td>{{ _stu1class1Mark }}</td>
                <td>{{ _student2Name }}</td>
                <td>{{ _stu2Class1 }}</td>
                <td>{{ _stu2class1Mark}}</td>
            </tr>
            <tr>
                <td>{{ _student1Name }}</td>
                <td>{{ _stu1Class2 }}</td>
                <td>{{ _stu1class2Mark }}</td>
                <td>{{ _student2Name }}</td>
                <td>{{ _stu2Class2 }}</td>
                <td>{{ _stu2class2Mark}}</td>
            </tr>
            <tr>
                <td>{{ _student1Name }}</td>
                <td>{{ _stu1Class3 }}</td>
                <td>{{ _stu1class3Mark }}</td>
                <td>{{ _student2Name }}</td>
                <td>{{ _stu2Class3 }}</td>
                <td>{{ _stu2class3Mark}}</td>
            </tr>
        </table>

    </div>
    <!------------------------------------>
    <!--Table showing previous submissions with comments-->
    <!------------------------------------>
    <!--Current Assignment Content Section with useful info-->
    <div class="Title2"><strong>Students Yet To Submit For {{ _nextUpClass }}</strong>
        <p hidden="true" id="_dueDate">{{ _nextUpDate }}</p>
        <br><p>Days Remaining:</p>
        <div align="center"> <h5 id="demo"></h5>
        </div>
    </div>
    <div class="Assignments">
        <table>
            <tr>
                <th>Student</th>
                <th>Email</th>
                <th>Average Subject Mark</th>
                <th>Send Email</th>
            </tr>
            <!--Assignment 1 -->
            <td>{{ _stu1OutName }}</td>
            <td>{{ _stu1Email }}</td>
            <td> {{ _stu1AVG }}</td>
            <td>
                <button class="btn btn-info btn-sm">
                  <a href="mailto:student@student.com?subject=Subject%20Submission%20Reminder&amp;body=Please%20submit%20your%20assignment%20">Send Mail</a>
                </button>
            </td>
            </tr>
            <!--Assignment 2 -->
            <td>{{ _stu2OutName }}</td>
            <td>{{ _stu2Email }}</td>
            <td> {{ _stu2AVG }}</td>
            <td>
                <button class="btn btn-info btn-sm">
                  <a href="mailto:student@student.com?subject=Subject%20Submission%20Reminder&amp;body=Please%20submit%20your%20assignment%20">Send Mail</a>
                </button>
            </td>
            </tr>

            </td>
            <!--Assignment 3 -->
            <td>{{ _stu3OutName }}</td>
            <td>{{ _stu3Email }}</td>
            <td> {{ _stu3AVG }}</td>
            <td>
                <button class="btn btn-info btn-sm">
                  <a href="mailto:student@student.com?subject=Subject%20Submission%20Reminder&amp;body=Please%20submit%20your%20assignment%20">Send Mail</a>
                </button>
            </td>
            </tr>
            <tr>
        </table>

    </div>
    <!------------------------------------>
    <!--Table showing current 3 submissions-->
    <!------------------------------------>
    <div class="Title3"><h5><strong>Submissions and Feedback</strong></h5></div>
    <div class="Previous">
        <div align="center">
            <button class="btn btn-info btn-sm" data-target="#stu1subs" data-toggle="modal" id="userButton"
                    type="button">{{ _student1Name }}'s Submissions
            </button>
            <button class="btn btn-info btn-sm" data-target="#stu2subs" data-toggle="modal" id="userButton"
                    type="button">{{ _student2Name }}'s Submissions
            </button>
        </div>
    </div>


    <!--Sidebar items here-->
    <div class="Sidebar">
        <img alt id="logo" src="../static/images/logo.png"Test Logo">
        <!-- Control Buttons -->
        <div align="center" id="controlB">
            <p>This is a {{ _userType }} account</p>
            <a class="btn btn-info btn-sm " href="login">Logout</a>
        </div>
        <p align="middle"><img alt="Persons face" id="stuFace" src="../static/images/Blank-Person-Image.png"></p>
        <!--Variables-->
        <div align="center" id="studentVariables">

            <h4 align="middle">{{ _userFName }} {{ _userLName }}</h4>
            <p align="middle">{{ _userEmail }}</p>
            <br>
            <h5>Your Students</h5>
            <div>
                <h6>{{ _student1Name }}</h6>

                <h6> {{ _student2Name }}</h6>

            </div>
            <div>
               <button class="btn btn-info btn-sm" data-target="#passManageStu1" data-toggle="modal" id="userButton" type="button">
                    Change {{ _student1Name }}'s Password
                </button>
                <br>
                <br>
                <button class="btn btn-info btn-sm" data-target="#passManageStu1" data-toggle="modal" id="userButton" type="button">
                    Change {{ _student2Name }}'s Password
                </button>
            </div>

        </div>
        <br>
        <!--Help Buttons-->
        <div align="center">
            <div class="inline-block"><a href="login"><img alt="Exit" height="32" src="../static/images/exit.png"
                                                           title="Exit" width="32"></a>
            </div>


    <!--Modal Box for PASSWORD management-->
    <!-- The Modal -->
<div class="modal fade" id="passManageStu1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Password Management</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <!-- Modal body -->
                <div>
                    <div class="container">
                        <h6>Modify Student Passwords</h6>
                        <h6>Enter Student Names and Email Address</h6>
                        <form action="/passManageStu1" enctype="multipart/form-data" method="POST">
                            <!--  ########################-->
                            <!--Student Name-->
                            <table>
                                <th>Name</th>
                                <th>New Password</th>
                                <tr>
                                    <td>{{ _student1Name }}</td>
                                    <td><input class="form-control" id="stuNewPass" name="stuNewPass" placeholder="New Password"
                                   type="stuNewPass"></td>
                                </tr>
                            </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info btn-primary btn-sm" id="passManageStu1" type="passManageStu1">Save Change
                        </button>
                        <button class="btn btn-info btn-sm" data-dismiss="modal" type="passManageStu1">Close</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
            <!-- The Modal -->
<div class="modal fade" id="passManageStu2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Password Management</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <!-- Modal body -->
                <div>
                    <div class="container">
                        <h6>Modify Student Passwords</h6>
                        <h6>Enter Student Names and Email Address</h6>
                        <form action="/passManageStu2" enctype="multipart/form-data" method="POST">
                            <!--  ########################-->
                            <!--Student Name-->
                            <table>
                                <th>Name</th>
                                <th>New Password</th>
                                <tr>
                                    <td>{{ _student1Name }}</td>
                                    <td><input class="form-control" id="stuNewPass" name="stuNewPass" placeholder="New Password"
                                   type="stuNewPass"></td>
                                </tr>
                            </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info btn-primary btn-sm" id="passManageStu2" type="passManageStu2">Save Change
                        </button>
                        <button class="btn btn-info btn-sm" data-dismiss="modal" type="passManageStu2">Close</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

      <div class="modal fade" id="stu1subs" align="center">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">View {{ _student1Name }}'s Submissions</h4>
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div>
                        <table>
                            <th>Class</th>
                            <th>Assignment Title</th>
                            <th>Mark Given</th>
                            <th>Teacher Comment</th>
                            <th>Submission</th>
                            <tr>
                                <td>{{ _stu1ass1class }}</td>
                                <td>{{ _stu1ass1name }}</td>
                                <td>{{ _stu1ass1mark }}</td>
                                <td>{{ _stu1ass1Comm }}</td>
                                <td><a class="btn btn-info btn-sm" href="../static/UPLOADS/Submissions/{{ _stu1ass1File }}" target="_blank">View Submission</a>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _stu1ass2class }}</td>
                                <td>{{ _stu1ass2name }}</td>
                                <td>{{ _stu1ass2mark }}</td>
                                <td>{{ _stu1ass2Comm }}</td>
                                <td><a class="btn btn-info btn-sm" href="../static/UPLOADS/Submissions/{{ _stu1ass2File }}" target="_blank">View Submission</a>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _stu1ass3class }}</td>
                                <td>{{ _stu1ass3name }}</td>
                                <td>{{ _stu1ass3mark }}</td>
                                <td>{{ _stu1ass3Comm }}</td>
                                <td><a class="btn btn-info btn-sm" href="../static/UPLOADS/Submissions/{{ _stu1ass3File }}" target="_blank">View Submission</a>
                                </td>
                            </tr>
                        </table>
                        </div>
                            <!-- Modal footer -->
                             <div class="modal-footer">
                                <div>
                                    <button class="btn btn-info btn-sm" data-dismiss="modal" type="button">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                  </div>
            </div>
     <div class="modal fade" id="stu2subs" align="center">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">View {{ _student2Name }}'s Submissions</h4>
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div>
                        <table>
                            <th>Class</th>
                            <th>Assignment Title</th>
                            <th>Mark Given</th>
                            <th>Teacher Comment</th>
                            <th>Submission</th>
                            <tr>
                                <td>{{ _stu2ass1class }}</td>
                                <td>{{ _stu2ass1name }}</td>
                                <td>{{ _stu2ass1mark }}</td>
                                <td>{{ _stu2ass1Comm }}</td>
                                <td><a class="btn btn-info btn-sm" href="../static/UPLOADS/Submissions/{{ _stu2ass1File }}" target="_blank">View Submission</a>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _stu2ass2class }}</td>
                                <td>{{ _stu2ass2name }}</td>
                                <td>{{ _stu2ass2mark }}</td>
                                <td>{{ _stu2ass2Comm }}</td>
                                <td><a class="btn btn-info btn-sm" href="../static/UPLOADS/Submissions/{{ _stu2ass2File }}" target="_blank">View Submission</a>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _stu2ass3class }}</td>
                                <td>{{ _stu2ass3name }}</td>
                                <td>{{ _stu2ass3mark }}</td>
                                <td>{{ _stu2ass3Comm }}</td>
                                <td><a class="btn btn-info btn-sm" href="../static/UPLOADS/Submissions/{{ _stu2ass3File }}" target="_blank">View Submission</a>
                                </td>
                            </tr>
                        </table>
                        </div>
                            <!-- Modal footer -->
                             <div class="modal-footer">
                                <div>
                                    <button class="btn btn-info btn-sm" data-dismiss="modal" type="button">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                  </div>
            </div>



<script>
    var _stu1Name = document.getElementById("_student1Name").innerHTML;
    var _stu2Name = document.getElementById("_student2Name").innerHTML;
    var _subject1Name = document.getElementById("_stu1Class1").innerHTML;
    var _subject2Name = document.getElementById("_stu1Class2").innerHTML;
    var _subject3Name = document.getElementById("_stu1Class3").innerHTML;
    var _sub1MarkS1 = document.getElementById("_stu1class1Mark").innerHTML;
    var _sub2MarkS1 = document.getElementById("_stu1class2Mark").innerHTML;
    var _sub3MarkS1 = document.getElementById("_stu1class3Mark").innerHTML;
    var _sub1MarkS2 = document.getElementById("_stu2class1Mark").innerHTML;
    var _sub2MarkS2 = document.getElementById("_stu2class2Mark").innerHTML;
    var _sub3MarkS2 = document.getElementById("_stu2class3Mark").innerHTML;
    new Chart(document.getElementById("bar-chart-grouped"), {
    type: 'bar',
    data: {
      labels: [_subject1Name, _subject2Name, _subject3Name],
      datasets: [
        {
          label: _stu1Name,
          backgroundColor: "#3e95cd",
          data: [_sub1MarkS1,_sub2MarkS1,_sub3MarkS1]
        }, {
          label: _stu2Name,
          backgroundColor: "#8e5ea2",
          data: [_sub1MarkS2,_sub2MarkS2,_sub3MarkS2]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Subject Average Grades (%)'
      }
    },
});
</script>

<script>
// Set the date we're counting down to
window.alert("DateSet");

var countDownTo = document.getElementById('_dueDate').innerHTML;
var countDownDate = new Date(countDownTo).getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>

</body>
</html>