<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guardian Portal</title>
    <link href="../static/images/icon.png" rel="shortcut icon" type="image/png">
    <!--Code Begins Here!-->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!Css File>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <link href="../static/test2.css" rel="stylesheet">
    <!--Modal Stuff-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

</head>
<body>

<div class="grid-container">
    <!--Alerts Title Section with useful info-->
    <div class="Alerts" align="center">
        <div align="left" id="alerthead">{{ _student1Name }} has <strong>{{ _stu1Outstand }}</strong> assignments left to complete
        </div>
        <br>
        <div align="left" id="alerthead">{{ _student2Name }} has <strong>{{ _stu2Outstand }}</strong> assignments left to complete
        </div>
        <br>
    </div>
    <!--Alerts Content with useful info-->
    <div class="AlertsText">
        <h4>Important Information - Next Assignment</h4>
        <div align="center">Students must submit their {{ _nextUpClass }} assignment by {{ _nextUpDate }}!</div>
        <div align="center">
            <br>
            <button class="btn btn-info btn-sm" data-target="#markAss1" data-toggle="modal" id="userButton"
                    type="button">View Current Submissions
            </button>
        </div>
    </div>

    <!--Graphs Title Section with useful info-->
    <div class="Title1">
        <div align=left"><h5>Overall Average Grades</h5></div>

        <!--DETAILS NEEDED FOR GRAPHS HERE-->
        <div hidden=hidden>
            <p id="_student1Name">{{ _student1Name }}</p>
            <p id="_student2Name">{{ _student2Name }}</p>
            <p id="_stu1Class1">{{ _stu1Class1 }}</p>
            <p id="_stu1Class2">{{ _stu1Class2 }}</p>
            <p id="_stu1Class3">{{ _stu1Class3 }}</p>
            <p id="_stu1class1Mark">{{ _stu1class1Mark }}</p>
            <p id="_stu1class2Mark">{{ _stu1class2Mark }}</p>
            <p id="_stu1class3Mark">{{ _stu1class3Mark }}</p>
            <p id="_stu2class1Mark">{{ _stu2class1Mark }}</p>
            <p id="_stu2class2Mark">{{ _stu2class2Mark }}</p>
            <p id="_stu2class3Mark">{{ _stu2class3Mark }}</p>
        </div>
        <!-- ## MAKING A GRAPH ## -->
        <div class="container">
            <canvas id="bar-chart-grouped" width="800" height="450"></canvas>
        </div>
    </div>
    <!--Graphs Content Section with useful info-->
    <div class="Graph"><h5>Classes Students are Enrolled Into and Average Marks</h5>
    <div class="Assignments">
        <table>
            <tr>
                <th>Name</th>
                <th>Class Name</th>
                <th>Average Mark</th>
                <th>Name</th>
                <th>Class Name</th>
                <th>Average Mark</th>
            </tr>
            <tr>
                <td>{{ _student1Name }}</td>
                <td>{{ _stu1Class1 }}</td>
                <td>{{ _stu1class1Mark }}</td>
                <td>{{ _student2Name }}</td>
                <td>{{ _stu2Class1 }}</td>
                <td>{{ _stu2class1Mark}}</td>
            </tr>
            <tr>
                <td>{{ _student1Name }}</td>
                <td>{{ _stu1Class2 }}</td>
                <td>{{ _stu1class2Mark }}</td>
                <td>{{ _student2Name }}</td>
                <td>{{ _stu2Class2 }}</td>
                <td>{{ _stu2class2Mark}}</td>
            </tr>
            <tr>
                <td>{{ _student1Name }}</td>
                <td>{{ _stu1Class3 }}</td>
                <td>{{ _stu1class3Mark }}</td>
                <td>{{ _student2Name }}</td>
                <td>{{ _stu2Class3 }}</td>
                <td>{{ _stu2class3Mark}}</td>
            </tr>
        </table>
    </div>

    </div>
    <!------------------------------------>
    <!--Table showing due submissions-->
    <!------------------------------------>
    <!--Current Assignment Content Section with useful info-->
    <div class="Title2"><strong>Students Yet To Submit For {{ _nextUpClass }}</strong>
        <p hidden="true" id="_dueDate">{{ _nextUpDate }}</p>
        <br><p>Days Remaining:</p>
        <div align="center"> <h5 id="demo"></h5>
        </div>
    </div>
    <div class="Assignments">
        <table>
            <tr>
                <th>Student</th>
                <th>Email</th>
                <th>Average Subject Mark</th>
                <th>Send Email</th>
            </tr>
            <!--Assignment 1 -->
            <td>{{ _stu1OutName }}</td>
            <td>{{ _stu1Email }}</td>
            <td> {{ _stu1AVG }}</td>
            <td>
                <button class="btn btn-info btn-sm">
                  <a href="mailto:student@student.com?subject=Subject%20Submission%20Reminder&amp;body=Please%20submit%20your%20assignment%20">Send Mail</a>
                </button>
            </td>
            </tr>
            <!--Assignment 2 -->
            <td>{{ _stu2OutName }}</td>
            <td>{{ _stu2Email }}</td>
            <td> {{ _stu2AVG }}</td>
            <td>
                <button class="btn btn-info btn-sm">
                  <a href="mailto:student@student.com?subject=Subject%20Submission%20Reminder&amp;body=Please%20submit%20your%20assignment%20">Send Mail</a>
                </button>
            </td>
            </tr>

            </td>
            <!--Assignment 3 -->
            <td>{{ _stu3OutName }}</td>
            <td>{{ _stu3Email }}</td>
            <td> {{ _stu3AVG }}</td>
            <td>
                <button class="btn btn-info btn-sm">
                  <a href="mailto:student@student.com?subject=Subject%20Submission%20Reminder&amp;body=Please%20submit%20your%20assignment%20">Send Mail</a>
                </button>
            </td>
            </tr>
            <tr>
        </table>

    </div>
    <!------------------------------------>
    <!--Table showing current 3 submissions-->
    <!------------------------------------>
    <div class="Title3"><strong>Current Assignments</strong></div>
    <div class="Previous">
        <table class="asssignment">
            <tr>
                <th>Title</th>
                <th>Class</th>
                <th>Date Due</th>
                <th>View</th>
            </tr>
            <tr>
                <!--Assignment 1 -->
                <td>{{ _curAss1name }}</td>
                <td>{{ _curAss1sub }}</td>
                <td> {{ _curAss1date }}</td>
                <td>
                    <button class="btn btn-info btn-sm" data-target="#viewCur1" data-toggle="modal" id="userButton"
                            type="button">View
                    </button>
                </td>
            <tr>
                <!--Assignment 2 -->
                <td>{{ _curAss2name }}</td>
                <td>{{ _curAss2sub }}</td>
                <td>{{ _curAss2date }}</td>
                <td>
                    <button class="btn btn-info btn-sm" data-target="#viewCur2" data-toggle="modal" id="userButton"
                            type="button">View
                    </button>
                </td>
            <tr>
                <!--Assignment 3 -->
                <td>{{ _curAss3name }}</td>
                <td>{{ _curAss3sub }}</td>
                <td>{{ _curAss3date }}</td>
                <td>
                    <button class="btn btn-info btn-sm" data-target="#viewCur3" data-toggle="modal" id="userButton"
                            type="button">View
                    </button>
                </td>
            </tr>
            <tr>
        </table>
    </div>


    <!--Sidebar items here-->
    <div class="Sidebar">
        <img alt id="logo" src="../static/images/logo.png"Test Logo">
        <!-- Control Buttons -->
        <div align="center" id="controlB">
            <p>This is a {{ _userType }} account</p>
            <a class="btn btn-info btn-sm " href="login">Logout</a>
        </div>
        <p align="middle"><img alt="Persons face" id="stuFace" src="../static/images/Blank-Person-Image.png"></p>
        <!--Variables-->
        <div align="center" id="studentVariables">

            <h4 align="middle">{{ _userFName }} {{ _userLName }}</h4>
            <p align="middle">{{ _userEmail }}</p>
            <br>
            <h5>Your Students</h5>
            <div>
                <h6>{{ _student1Name }}</h6>

                <h6> {{ _student2Name }}</h6>

            </div>
            <div>
               <button class="btn btn-info btn-sm" data-target="#passManage" data-toggle="modal" id="userButton" type="button">
                    Password Management
                </button>
                <br>
            </div>

        </div>
        <br>
        <!--Help Buttons-->
        <div align="center">
            <div class="inline-block"><a href="login"><img alt="Exit" height="32" src="../static/images/exit.png"
                                                           title="Exit" width="32"></a>
            </div>

            <!--Modal Box for adding new assignments-->
            <!-- The Modal -->
            <div class="modal fade" id="addAssign2">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Create New Assignment</h4>
                            <button class="close" data-dismiss="modal" type="button">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div>
                            <form action="addAssign" class="form-assign" method="POST">
                                <!--Assessment Title-->
                                <label class="sr-only" for="assessTitle">assessTitle</label>
                                <input class="form-control" id="inputTitle" name="assessTitle"
                                       placeholder="Assessment Title"
                                       type="assessTitle">
                                <!--Assessment Details-->
                                <div class="modal-header">
                                    <h6 class="modal-title">Assignment Details</h6>
                                </div>
                                <label class="sr-only" for="taskDetail">taskDetail</label>
                                <textarea autofocus class="form-control" id="inputDetail" name="taskDetail"
                                          placeholder="Task Details" required rows="10" type="taskDetail">
                               </textarea>
                                <!--Due Date-->
                                <label class="sr-only" for="dueDate">Due Date</label>
                                <input autofocus class="form-control" id="inputDue" name="dueDate"
                                       placeholder="Due Date"
                                       required type="due">
                                <!--Class ID-->
                                <label class="sr-only" for="classID">classID</label>
                                <input class="form-control" id="classID" name="classID" placeholder="Class ID"
                                       type="classID">
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button class="btn btn-info btn-primary btn-sm" id="btnAddAssign" type="addAssign">Save
                                Assignment
                            </button>
                            <!--Commit Data-->
                            <button class="btn btn-info btn-sm" data-dismiss="modal" type="button">Close</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <!--Modal Box for adding new assignments WITH FILE UPLOAD ENABLED-->
            <!-- The Modal -->
            <div class="modal fade" id="addAssign">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Create New Assignment</h4>
                            <button class="close" data-dismiss="modal" type="button">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div>
                            <!--LONGBLOB FILE UPLOAD-->
                            <div class="container">
                                <h6>File Input</h6>
                                <form action="/addSub" enctype="multipart/form-data" method="POST">
                                    <div class="form-group">
                                        <input name="inputfile" type='file'>
                                    </div>
                                    <div>
                                        <!--Assignment title-->
                                        <label class="sr-only" for="assTitle">assTitle</label>
                                        <input class="form-control" id="assTitle" name="assTitle"
                                               placeholder="Assignment Title"
                                               type="assTitle">
                                        <!--Date-->
                                        <label class="sr-only" for="date">Date</label>
                                        <input class="form-control datepicker" id="date" name="date"
                                               placeholder="Submission Date"
                                               type="date">
                                        <!--task details-->
                                        <div class="modal-header">
                                            <h6 class="modal-title">Task Details</h6>
                                        </div>
                                        <label class="sr-only" for="taskDetails">taskDetails</label>
                                        <textarea autofocus class="form-control" id="taskDetails" name="taskDetails"
                                                  placeholder="taskDetails" required rows="10" type="taskDetails">
                                </textarea>
                                        <!--Class ID-->
                                        <label class="sr-only" for="classID">classID</label>
                                        <input class="form-control" id="classID" name="classID" placeholder="classID"
                                               type="classID">
                                    </div>
                                    <!--<button class="btn btn-default" type="btnAddSub">Submit</button>-->
                                    <button class="btn btn-info btn-primary btn-sm" id="btnAddSub" type="addSub">Save
                                        Submission
                                    </button>
                                </form>
                            </div>

                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <!--<button class="btn btn-info btn-primary btn-sm" id="btnAddAssign" type="addSub">Save Submission
                            </button>
                            <!--Commit Data-->
                            <button class="btn btn-info btn-sm" data-dismiss="modal" type="addSub">Close</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <!--Modal Box for class management-->
            <!--ADDING AND REMOVING STUDENTS-->
            <!--Modal Box for class management-->
            <!-- The Modal -->
            <div class="modal fade" id="classManager">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Class Manager</h4>
                            <button class="close" data-dismiss="modal" type="button">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div>
                            <div class="container">
                                <h6>Remove Students from Classes</h6>
                                <button class="btn btn-info btn-sm" data-target="#classManageRemoveName"
                                        data-toggle="modal" id="userButton" type="button">
                                    Remove Class Members
                                </button>
                                <button class="btn btn-info btn-sm" data-target="#classManageAddName"
                                        data-toggle="modal" id="userButton" type="button">
                                    Add Class Members
                                </button>
                                <br>
                                <div class="modal-footer">
                                    <button class="btn btn-info btn-sm" data-dismiss="modal" type="classManager">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Removing Students from classes-->
            <!--Modal Box for class management-->
            <!-- The Modal -->
            <div class="modal fade" id="classManageRemoveName">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Class Member Management</h4>
                            <button class="close" data-dismiss="modal" type="button">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div>
                            <div class="container">
                                <h5>Remove Students from Classes</h5>
                                <h6>Enter Student and Class Details</h6>
                                <form action="/classManageRemoveName" enctype="multipart/form-data" method="POST">
                                    <!--  ########################-->
                                    <!--Student Name-->
                                    <label class="sr-only" for="stuFname">Student First Name</label>
                                    <input class="form-control" id="stuFname" name="stuFname"
                                           placeholder="Student First Name"
                                           type="stuFname">
                                    <label class="sr-only" for="stuLname">Student Last Name</label>
                                    <input class="form-control" id="stuLname" name="stuLname"
                                           placeholder="Student Last Name"
                                           type="stuLname">
                                    <label class="sr-only" for="className">Class Name</label>
                                    <input class="form-control" id="className" name="className" placeholder="Class Name"
                                           type="className">
                                    <!-- ########################-->
                                    <!--Commit Data-->
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-info btn-primary btn-sm" id="btnClassManageRemove"
                                        type="classManageRemove">Save Change
                                </button>
                                <button class="btn btn-info btn-sm" data-dismiss="modal" type="classManageRemove">
                                    Close
                                </button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Adding Students to classes-->
        <!-- Button to Open the Modal -->

        <!--Modal Box for class management-->
        <!-- The Modal -->
        <div class="modal fade" id="classManageAddName">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header"><
                        <h4 class="modal-title">Class Member Management</h4>
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div>
                        <!--LONGBLOB FILE UPLOAD-->
                        <div class="container">
                            <h5>Add Students to Classes</h5>
                            <h6>Enter Student and Class Details</h6>
                            <form action="/classManageAddName" enctype="multipart/form-data" method="POST">
                                <!--Student Name-->
                                <label class="sr-only" for="stuFname">Student First Name</label>
                                <input class="form-control" id="stuFname" name="stuFname"
                                       placeholder="Student First Name"
                                       type="stuFname">
                                <label class="sr-only" for="stuLname">Student Last Name</label>
                                <input class="form-control" id="stuLname" name="stuLname"
                                       placeholder="Student Last Name"
                                       type="stuLname">
                                <label class="sr-only" for="className">Class Name</label>
                                <input class="form-control" id="className" name="className" placeholder="Class Name"
                                       type="className">
                                <!-- ########################-->
                                <!--Commit Data-->
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-info btn-sm" type="classManageAddName">Submit</button>
                            <!--Commit Data-->
                            <button class="btn btn-info btn-sm" data-dismiss="modal" type="classManageAddName">Close
                            </button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <!--Modal Box for PASSWORD management-->
    <!-- The Modal -->
<div class="modal fade" id="passManage">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Password Management</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <!-- Modal body -->
                <div>
                    <div class="container">
                        <h6>Modify Student Passwords</h6>
                        <h6>Enter Student Names and Email Address</h6>
                        <form action="/passManage" enctype="multipart/form-data" method="POST">
                            <!--  ########################-->
                            <!--Student Name-->
                            <label class="sr-only" for="stuFname">Student First Name</label>
                            <input class="form-control" id="stuFname" name="stuFname" placeholder="Student First Name"
                                   type="stuFname">
                            <label class="sr-only" for="stuLname">Student Last Name</label>
                            <input class="form-control" id="stuLname" name="stuLname" placeholder="Student Last Name"
                                   type="stuLname">
                            <label class="sr-only" for="stuEmail">Class Name</label>
                            <input class="form-control" id="stuEmail" name="stuEmail" placeholder="Student Email"
                                   type="stuEmail">
                            <h6>Enter New Password</h6>
                            <label class="sr-only" for="stuNewPass">Class Name</label>
                            <input class="form-control" id="stuNewPass" name="stuNewPass" placeholder="New Password"
                                   type="stuNewPass">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info btn-primary btn-sm" id="passManage" type="passManage">Save Change
                        </button>
                        <button class="btn btn-info btn-sm" data-dismiss="modal" type="passManage">Close</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Box for Marking Assignment1-->
<!-- The Modal -->
<div class="modal fade" id="markAss1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">{{ _nextUpClass }} Assignment Marking</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <div class="modal-body">
                <P>The table below shows the students who are awaiting marks for their {{ _nextUpClass }} assignment</P>
                </div>
                    <!-- Modal body -->
                <div>
                    <div class="container">
                             <table class = "asssignment">
    <tr>
    <th>Student</th>
    <th>Submission</th>
    <th>Assign Mark</th>
    <th>Comment</th>
    <th>Submit</th>
    </tr>
    <tr>
        <!--Assignment 1 -->
     <td>{{ _stu1Name }}</td>
    <td><a class="btn btn-info btn-sm" href="../static/UPLOADS/Submissions/{{ _stu1File }}" target="_blank">View Submission</a>
                                </td>
        <form action="/stu1MarkAdd" enctype="multipart/form-data" method="POST">
    <td><input class="form-control" id="stu1Mark" name="stu1Mark" placeholder="Assign Mark"
               type="stu1Mark"></td>
            <form action="/stu1MarkAdd" enctype="multipart/form-data" method="POST">
    <td><input class="form-control" id="stu1Comment" name="stu1Comment" placeholder="Add Comment"
               type="stu1Comment"></td>
        <td>
           <button class="btn btn-info btn-primary btn-sm" id="stu1MarkAdd" type="stu1MarkAdd">Save Change
                        </button>
        </td>
        </form>
        </tr>
    <tr>
        <!--Assignment 2 -->
     <td>{{ _stu2Name }}</td>
    <td><a class="btn btn-info btn-sm" href="../static/UPLOADS/Submissions/{{ _stu2File }}" target="_blank">View Submission</a>
                                </td>
    <form action="/stu2MarkAdd" enctype="multipart/form-data" method="POST">
    <td><input class="form-control" id="stu2Mark" name="stu2Mark" placeholder="Assign Mark"
               type="stu2Mark"></td>
        <form action="/stu2MarkAdd" enctype="multipart/form-data" method="POST">
    <td><input class="form-control" id="stu2Comment" name="stu2Comment" placeholder="Add Comment"
               type="stu2Comment"></td>
        <td>
           <button class="btn btn-info btn-primary btn-sm" id="stu2MarkAdd" type="stu2MarkAdd">Save Change
                        </button>
        </td>
        </form>
                             </tr>
        <!--Assignment 3 -->
     <td>{{ _stu3Name }}</td>
    <td><a class="btn btn-info btn-sm" href="../static/UPLOADS/Submissions/{{ _stu3File }}" target="_blank">View Submission</a>
                                </td>
      <form action="/stu3MarkAdd" enctype="multipart/form-data" method="POST">
    <td><input class="form-control" id="stu3Mark" name="stu3Mark" placeholder="Assign Mark"
               type="stu3Mark"></td>
          <form action="/stu3MarkAdd" enctype="multipart/form-data" method="POST">
    <td><input class="form-control" id="stu3Comment" name="stu3Comment" placeholder="Add Comment"
               type="stu3Comment"></td>
        <td>
           <button class="btn btn-info btn-primary btn-sm" id="stu3MarkAdd" type="stu3MarkAdd">Save Change
                        </button>
        </td>
        </form>
  </tr>
</table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info btn-sm" data-dismiss="modal" type="markAss1">Close</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



      <div class="modal fade" id="viewCur1" align="center">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">View {{ _curAss1Sub }} assignment</h4>
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div>
                        <H6>Assignment Title:</H6>
                        <p class="model-signature">{{ _curAss1name }}</p>
                        <H6>Assignment Details:</H6>
                        <p class="model-signature">{{ _curAss1detail }}</p>
                         <H6>Due Date:</H6>
                        <p class="model-signature">{{ _curAss1date }}</p>
                        <H6>Task Sheet</H6>
                        <div>
                            <a class="btn btn-info btn-sm" href="../static/UPLOADS/Assignments/{{ _curAss1file }}" target="_blank">View Task Sheet</a>
                                </div>
                        </div>
                            <!-- Modal footer -->
                             <div class="modal-footer">
                                <div>
                                    <button class="btn btn-info btn-sm" data-dismiss="modal" type="button">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                  </div>
            </div>
      <div class="modal fade" id="viewCur2" align="center">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">View {{ _curAss2Sub }} assignment</h4>
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div>
                        <H6>Assignment Title:</H6>
                        <p class="model-signature">{{ _curAss2name }}</p>
                        <H6>Assignment Details:</H6>
                        <p class="model-signature">{{ _curAss2detail }}</p>
                         <H6>Due Date:</H6>
                        <p class="model-signature">{{ _curAss2date }}</p>
                        <H6>Task Sheet</H6>
                        <div>
                            <a class="btn btn-info btn-sm" href="../static/UPLOADS/Assignments/{{ _curAss2file }}" target="_blank">View Task Sheet</a>
                                </div>
                        </div>
                            <!-- Modal footer -->
                             <div class="modal-footer">
                                <div>
                                    <button class="btn btn-info btn-sm" data-dismiss="modal" type="button">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                  </div>
            </div>
      <div class="modal fade" id="viewCur3" align="center">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">View {{ _curAss3Sub }} assignment</h4>
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div>
                        <H6>Assignment Title:</H6>
                        <p class="model-signature">{{ _curAss3name }}</p>
                        <H6>Assignment Details:</H6>
                        <p class="model-signature">{{ _curAss3detail }}</p>
                         <H6>Due Date:</H6>
                        <p class="model-signature">{{ _curAss3date }}</p>
                        <H6>Task Sheet</H6>
                        <div>
                            <a class="btn btn-info btn-sm" href="../static/UPLOADS/Assignments/{{ _curAss3file }}" target="_blank">View Task Sheet</a>
                                </div>
                        </div>
                            <!-- Modal footer -->
                             <div class="modal-footer">
                                <div>
                                    <button class="btn btn-info btn-sm" data-dismiss="modal" type="button">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                  </div>
            </div>


<script>
    var _stu1Name = document.getElementById("_student1Name").innerHTML;
    var _stu2Name = document.getElementById("_student2Name").innerHTML;
    var _subject1Name = document.getElementById("_stu1Class1").innerHTML;
    var _subject2Name = document.getElementById("_stu1Class2").innerHTML;
    var _subject3Name = document.getElementById("_stu1Class3").innerHTML;
    var _sub1MarkS1 = document.getElementById("_stu1class1Mark").innerHTML;
    var _sub2MarkS1 = document.getElementById("_stu1class2Mark").innerHTML;
    var _sub3MarkS1 = document.getElementById("_stu1class3Mark").innerHTML;
    var _sub1MarkS2 = document.getElementById("_stu2class1Mark").innerHTML;
    var _sub2MarkS2 = document.getElementById("_stu2class2Mark").innerHTML;
    var _sub3MarkS2 = document.getElementById("_stu2class3Mark").innerHTML;
    new Chart(document.getElementById("bar-chart-grouped"), {
    type: 'bar',
    data: {
      labels: [_subject1Name, _subject2Name, _subject3Name],
      datasets: [
        {
          label: _stu1Name,
          backgroundColor: "#3e95cd",
          data: [_sub1MarkS1,_sub2MarkS1,_sub3MarkS1]
        }, {
          label: _stu2Name,
          backgroundColor: "#8e5ea2",
          data: [_sub1MarkS2,_sub2MarkS2,_sub3MarkS2]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Subject Average Grades (%)'
      }
    },
});
</script>

<script>
// Set the date we're counting down to
window.alert("DateSet");

var countDownTo = document.getElementById('_dueDate').innerHTML;
var countDownDate = new Date(countDownTo).getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>

</body>
</html>