<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Tests</title>
    <!Code Begins Here!>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/signup.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!Css File>
    <link rel="stylesheet" href="../static/test.css">
</head>
<body>

<!--Sidebar Section-->
<div class="sidebar">
    <a href="#link 1">Link 1</a>
    <a href="#link 2">Link 2</a>
</div>

<header>
    <!Logo>
    <div class="row"></div>
    <div class="col">
        <img class="containerLogo" src="/static/images/logo.png">
    </div>
    <div>
    </div>

    </div>
    <div class="col">
    </div>
    </div>

</header>


<!Main Body Of text>
<div class="row">
</div>
<aside class="col-md-4">
    <div class="panel-heading">Example Heading 1</div>
    <div class="panel-body">Example Heading 2</div>
</aside>
<section class="col-md-8">
    <p> Example Text Here.Example Text Here.Example Text Here.Example Text Here.Example Text Here.Example Text
        Here.Example Text Here.Example Text Here.Example Text Here.Example Text Here.Example Text Here.Example Text
        Here.</p>
</section>


<!Footer Section>
</div>
<div class="row">
    <footer class="col-sm-12">
        <p class="text-center">&copy; Copyright HomeZone 2019 BY UP776524</p>
    </footer>
</div>


</div>


</body>
</html>